@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Inter&display=swap');

body {
    background-color: #92c592; 
    margin: 0;
    font-family: Inter, sans-serif;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-family: Poppins, sans-serif;
    color: #173a17;
    text-align: center;
}

.add-btn {
    display: inline-block;
    background-color: #173a17;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 25px;
}

.entries-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entry-card {
    background: white;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.entry-title {
    font-weight: bold;
    font-size: 18px;
    color: #0f0f0f;
}

.entry-date {
    font-size: 14px;
    color: #3d3f3d;
    margin-bottom: 10px;
}

.entry-actions {
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn {
    padding: 6px 12px;
    background: #173a17;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background: #173a17;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.save-btn {
    margin-top: 15px;
    padding: 10px 18px;
    background: #173a17;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.cancel-btn {
    margin-top: 10px;
    padding: 10px 18px;
    background: #173a17;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.journal-date {
    text-align: center;
    color: #173a17;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.entry-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}

.preview-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.file-btn {
    background: #173a17;
}

.photo-row {
    display: flex;
    justify-content: flex-start; 
}

.photo-btn {
    background: #173a17;
    color: white;
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: fit-content;   
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
a:hover {
    filter: brightness(70%) !important;
    transition: 0.2s;
}


